<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div
        class="bs-toast toast toast-placement-ex m-2"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
        data-delay="2000"
>
    <div class="toast-header">
        <i class="bx bx-error-circle me-2"></i>
        <div id="toast-title" class="me-auto fw-semibold"></div>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Kapat"></button>
    </div>
    <div id="toast-body" class="toast-body"></div>
</div>
</body>
</html>